/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    font-family: 'Noto Sans TC', sans-serif;
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.mainTitle {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    font-family: 'Montserrat', sans-serif;
}

.mainTitle h3 {
    margin-left: 0px;
    padding: 0px 10px;
    font-family: 'Montserrat', sans-serif;
}
.aboutSite {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
    font-family: 'Montserrat', sans-serif;
}

.aboutSite p, li {
    font-family: 'Noto Sans TC', sans-serif;
}
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.mapTextContainer {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.mapTextContainer h1 {
    font-family: 'Montserrat', sans-serif;
}

.mapTextContainer h2, h3 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 925px;
}

#desc {
    margin-left: 925px;
}

.mapTextContainer p {
    font-family: 'Noto Sans TC', sans-serif;
    margin-left: 950px;
    position: static;
    width: 350px;
}

.chartContainer {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

.chartContainer h1 {
    font-family: 'Montserrat', sans-serif;
}

.chartContainer h2, h3 {
    font-family: 'Montserrat', sans-serif;
    margin-left: 700px;
}

.chartContainer p {
    font-family: 'Noto Sans TC', sans-serif;
    margin-left: 725px;
    position: static;
    width: 350px;
}

.chartContainer svg {
    position: fixed;
    top: 50px;
}

.link {
  stroke: black;
  stroke-width: 1px;
} 

.partition-area {
  fill: lightgray;
}

.line {
  fill: none;
  stroke: red;
  stroke-width: 2px;
} 

.area {
  fill: red;
  stroke: red;
  stroke-width: 2px;
} 
